{% extends 'base.html.twig' %}
{% block body %}
    <article>
        <h2>{{article.title}}</h2>
        <h3>{{article.categorie}}</h3>

        {{article.content}}


        {% if article.publishedAt %}
            <p>Article publié le {{article.publishedAt}}</p>
        {% else %}
            <p>{{article.status}}
        {% endif %}
    </article>




{% endblock %}